<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Place details:</h3><br>
            <div class="card col-6 offset-2">
                <img src="<%= listing_.image.url %>" class="card-img-top" alt="listing_img" style="height:20rem">
                <div class="card-img-overlay">.</div>
                <div class="card-body">
                <p class="card-text">
                    <b><%=listing_.title%> </b> <br>       
                    <%=listing_.description  %> <br>Entry fee-
                    &#8377; <%= listing_.entry_fee ? listing_.entry_fee.toLocaleString("en-IN") : 'N/A' %><br>
                    <b>Location</b>:&nbsp;<%=listing_.location %>, <%=listing_.country %> <br>
                    <b>Nearest Railway Station</b>:&nbsp;<%= listing_.nearest_railway_station %> <br>
                    <b>Hotel Nearby:</b>
                    <% if (listing_.hotels_nearby && listing_.hotels_nearby.hotel_name) { %>
                        <%= listing_.hotels_nearby.hotel_name %>,&nbsp;
                        Price: &#8377;<%= listing_.hotels_nearby.price_per_night ? listing_.hotels_nearby.price_per_night.toLocaleString("en-IN") : 'N/A' %>/night
                    <% } else { %>
                        No nearby hotels listed
                    <% } %>
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 offset-3">
            <a class="btn btn-dark addbtn" href="/places/<%= listing_._id %>/edit">Edit</a>
            <br>
            <br>
        </div>
        <div class="col-1 offset-3">
            <form method="post" action="/places/<%= listing_._id %>?_method=DELETE">
                <button class="btn btn-dark addbtn">Delete</button><br><br>
            </form>
        </div>
    </div>
</body>
